### Create a List the customers that made purchases on black friday

The customers that made purchases on Black Friday were:

C00001, C00003, C00004, C00005 C00006, C00007, C00018, C00010, C00013, C00014, C00015, C00016 and C00029

Call your list `customer_list`.

In [1]:
customer_list = ['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00018', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00029']

### Did C00009 make a purchase?

This customer said they made a purchase we're not seeing it in our data. If they did, we need to record the revenue.

Write code that returns 99.99 if C00009 is in the list. If not, return 0.0.

In [11]:
('C00009' in customer_list) * 99.99

0.0

### Market Research Samples

1. Using slicing, create a list containing the fifth and sixth customer in the list called `fifth_sixth`.

In [22]:
fith_sixth = customer_list[4:6]

fith_sixth

['C00006', 'C00007']

2. Create a list called `every_third` that contains every third customer in the list (1st, 4rd, 7th, and so on...).

In [33]:
every_thrid = customer_list[::3]

every_thrid

['C00001', 'C00005', 'C00018', 'C00014', 'C00029']

3. Finally, using slicing, create a list with the last two customers in our dataset, called `last_two`.

In [56]:
last_two = customer_list[-2:]

last_two

['C00016', 'C00029']